// Estilos para los enlaces
a {
    font-size: 23px;
    color: #333;
    padding: 10px;
    margin-left: 55px;
    &:hover {
      background-color: #f0f0f0;
    }
  }
  
  // Estilos para el elemento "Contacto"
  #Contacto {
    font-size: 20px;
  }
  
  // Estilos para los encabezados
  h1, h2, h3 {
    font-family: 'Gruppo', sans-serif;
  }
  
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 25px !important;
  }
  
  h3 {
    margin-bottom: 0%;
    text-align: center;
    font-size: 40px;
    color: #222;
    padding: 30px;
  }
  
  // Estilos para el "contenedor-uno"
  .contenedor-uno {
    line-height: 2;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  // Estilos para las redes sociales
  .redes-sociales {
    gap: 10px;
  }
  
  .icono-redondo {
    width: 50px;
    height: 50px;
    border-radius: 30%;
  }
  
  // Estilos para el id "Contacto"
  section#Contacto {
    background-color: #595763;
    border-radius: 10px;
    padding: 30px;
  }
  
  // Estilos para el carrusel con id "carouselExampleFade"
  #carouselExampleFade {
    height: auto;
    img {
      height: auto;
    }
  }
  
  // Estilos para el carrusel con id "carouselExampFade"
  #carouselExampFade {
    height: auto;
    img {
      height: auto;
    }
  }
  
  // Estilos para la clase "ajuste"
  .ajuste {
    display: flex;
    flex-direction: row;
  }
  
  // Estilos para el carrusel con id "carouselExampleFade"
  #carouselExampleFade {
    margin-bottom: 25px;
  }
  
  // Estilos para el ícono de "volver arriba"
  #volver-arriba i {
    color: #fff;
    transition: color 0.3s ease;
    &:hover {
      color: #121111;
    }
  }
  
  // Estilos para elementos con clase "conoceme-p"
  .conoceme-p {
    font-size: 30px;
  }
  